.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    
    width: 230px;
}
.app-sidenav-content {
   
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 
mat-list-item , mat-expansion-panel, .app-sidenav{
    color: whitesmoke;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
        
      
}
mat-toolbar{
    background-color: rgb(23, 23, 23);
    color: white;
}
.app-spacer{
    margin-right: 100px; 
    padding-right: 70px; 
}
button:hover{
color: #ffffff;
}