<form [formGroup]="thirdFromPhase">
    <mat-form-field class="input_URL">
      <mat-label>Enter the Url link of the hotel image</mat-label>
      <input type="text" matInput formControlName="img_URL" />
      <button matSuffix mat-icon-button (click)="saveURL()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
   <!--    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="pic_URL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> url </th>
        <td mat-cell *matCellDef="let element"> 
          <img [src]="element.pic_URL" class="imgSize" ></td>
      </ng-container> 
  
     
      <ng-container matColumnDef="pic_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> pic Name </th>
        <td mat-cell *matCellDef="let element"> 
          <p>{{element.id}}</p>
          <p>{{element.pic_Name}}</p>
           </td>
      </ng-container>
      

     <!--  <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tools </th>
        <td mat-cell *matCellDef="let element"> 
          <a class="edit" (click)="openEditDialog(element)" ><mat-icon>edit</mat-icon> </a>
          <a class="delete" (click)="openDeleteDialog(element)"><mat-icon>delete</mat-icon> </a>
        </td>
      </ng-container> --> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
    <button (click)="retunMenu()">Done</button>
  </div>