<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
   <!--    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> -->
  
      <ng-container matColumnDef="pic_URL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> url </th>
        <td mat-cell *matCellDef="let element"> 
          <img [src]="element.pic_URL" class="imgSize" ></td>
      </ng-container> 
  
     
      <ng-container matColumnDef="pic_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> pic Name </th>
        <td mat-cell *matCellDef="let element"> 
          <p>{{element.id}}</p>
          <p>{{element.pic_Name}}</p>
           </td>
      </ng-container>
      

      <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tools </th>
        <td mat-cell *matCellDef="let element"> 
          <a class="delete" (click)="Deleter(element)"><mat-icon>delete</mat-icon> </a>
        </td>
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div>
    <button  (click)="retunMenu()">Done</button>
  </div>